
h1 {
  text-align: center;
}

nav {
  margin-bottom: 30px;
  margin-top: 30px;
}

body {
  background-color: #f1f1f1;
}

.outText {
color: #fff;
font-size: 6em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
margin-top: 10px;
margin-bottom: 0;
}

#lineCap,
#lineDash,
#gradient {
 max-width: 50px;
 max-height: 26px;

}

.container {
  text-align: center;
}

.colorChart {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	background: white;
	grid-gap: 1px;
	/**top, right, bottom, left*/
	padding: 2px 2px 2px 2px;
	border-radius: 8px;
	max-width: 300px;
	justify-content: space-evenly;
	margin: auto;
	/** big grid stay at the center*/
	border: 1.5px solid;
	margin-top: 30px;
  cursor: pointer;
}

.gridThickness {
  display: grid;
  grid-template-columns: auto auto auto;
  background: white;
  grid-gap: 1px;
  /**top, right, bottom, left*/
  padding: 2px 2px 2px 2px;
  border-radius: 8px;
  max-width: 300px;
  justify-content: space-evenly;
  margin: auto;
  /** big grid stay at the center*/
  border: 1.5px solid;
  margin-top: 30px;
}

.box {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;

}

.box.b10 {
  background-color: black;
}
.box.b11 {
  background-color: darkgray;
}

.box.b12 {
  background-color: gray;
}
.box.b13 {
  background-color: darkred;
}

.box.b14 {
  background-color: red;
}
.box.b15 {
  background-color: orange;
}
.box.b16 {
  background-color: yellow;
}
.box.b17 {
  background-color: blue;
}
.box.b18 {
  background-color: darkblue;
}
.box.b19 {
  background-color: purple;
}

.box.b20 {
  background-color: white;
}
.box.b21 {
  background-color: silver;
}
.box.b22 {
  background-color: rosybrown;
}
.box.b23 {
  background-color: olive;
}
.box.b24 {
  background-color: lime;
}
.box.b25 {
  background-color: aqua;
}
.box.b26 {
  background-color: teal;
}
.box.b27 {
  background-color: skyblue;
}
.box.b28 {
  background-color: fuchsia;
}
.box.b29 {
  background-color: darksalmon;
}

#canvas {
  width: 1000px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
}

button {
  width: 120px;
  height: 46px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #c733b0;
}

button:active {
  background-color: blue;
}

.active {
  background-color: red;
}
