
h1 {
  text-align: center;
}

nav {
  margin-bottom: 30px;
  margin-top: 30px;

}

.container {
  text-align: center;
}

#canvas {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-color: white;
}

button {
  width: 101px;
  height: 35px;
}

button:hover {
  background-color: #c733b0;
}

button:active {
  background-color: blue;
}

.active {
  background-color: red;
}
