
h1 {
  text-align: center;
}

nav {
  margin-bottom: 30px;
  margin-top: 30px;

}

.container {
  text-align: center;
}

#canvas {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-color: white;
}

button {
  width: 100px;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border: solid 5px red;
  margin: 15px 15px 15px 15px;

}

button:hover {
  background-color: orange;
}

/* button:active {
  background-color: blue;
} */
.active {
  background-color: red;
}
